**/__pycache__/
*.py[cod]
*$py.class

.env

venv/
.env.bak
.venv/
ENV/
env/
*.env

.vscode/

.DS_Store

.ipynb_checkpoints

*.log

*.csv
*.bak
*.tmp
*.swp

*.sqlite3
*.db

*.egg-info/
dist/
build/

*.spec

init.py~

htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
