*.class

*.log

target/
bin/
build/

.idea/
*.iml
*.ipr
*.iws
/.mvn/
mvnw
mvnw.cmd
/.idea/
*.jar
*.war
*.ear

.gradle/
build/

.settings/
.project
.classpath

nbproject/

*.iws
*.iml
*.ipr
out/

.DS_Store
Thumbs.db
